$width = 507px

table
  th
    text-align: left

  td
    padding: 0.25em

.players
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px
  border-radius: 4px
  padding: 0.5em
  border: 1px solid rgba(0, 0, 0, 0.5)
  background-color: #EEE
  position: absolute
  left: 50px
  top: 70px

  h3
    margin: 0
    padding-bottom: 0.25em
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
    text-align: center

#login-buttons
  position: absolute
  top: 10px
  left: 0

h1, h2, h3, h4, h5, h6
  font-family: Futura
  font-weight: 100

html
  height: 100%
  font-family: verdana
  font-size: 12px

body
  background-color: #aaa
  background-image: url('/pattern.png')
  margin: auto
  width: $width
  height: 100%

.wrapper
  box-sizing: border-box
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 5px
  width: $width
  background-color: #eee
  height: 100%
  margin: auto
  padding: 0.25em 1em
  position: relative

canvas
  background: white url('/checker.png')
  border: 1px solid rgba(0, 0, 0, 0.3)
  cursor: crosshair

header
  .title
    margin-top: 0
    margin-bottom: 0
    font-size: 3em

  .clear
    display: inline-block

.palette span
  border: 1px solid rgba(0, 0, 0, 0.3)
  cursor: pointer
  display: inline-block
  width: 48px
  height: 48px
  opacity: 0.3

  &.active
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px
    background-image: url('/stripe.png')
    opacity: 1

.tools, .size
  display: inline-block

.size
  position: absolute
  right: 13px
  top: 10px

.size_slider
  width: 120px

h4
  margin: 0

.instructions
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px
  padding: 0.25em 0.5em
  position: absolute
  top: 25px
  right: 75px
  height: 70px
  background-color: #EEE
  border-radius: 3px
  border: 1px solid rgba(0, 0, 0, 0.5)

  h2
    margin-top: 0.25em

.tools
  position: absolute
  top: 50px
  right: 13px

.tools a
  box-sizing: border-box
  border-radius: 4px
  background-color: #eee
  border: 1px solid rgba(0, 0, 0, 0.3)
  color: black
  cursor: pointer
  padding: 0.1em 0.5em
  text-decoration: none

  &:hover
    background-color: #f7f7f7

  &.active
    background-color: white
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px inset

.guesses
  margin-top: 2em

  h2
    margin-bottom: 0.25em
    text-align: center

  .guess
    border-radius: 2px
    box-sizing: border-box
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px inset
    border: 1px solid rgba(0, 0, 0, 0.3)
    font-size: 16px
    padding: 0.6em
    width: 100%
