body
  background-color: white

canvas
  border: 1px solid rgba(0, 0, 0, 0.3)
  cursor: crosshair

header
  .clear, h1
    display: inline-block

.palette span
  border: 1px solid rgba(0, 0, 0, 0.3)
  display: inline-block
  width: 48px
  height: 48px
